
Grad_thesis/chipseq_prediction_cnn.py
*.png
Grad_thesis/__pycache__/net.cpython-36.pyc
Grad_thesis/__pycache__/seq_net.cpython-36.pyc
pytorch_handbook/chapter10/_gitkeep
pytorch_handbook/chapter10/section10.ipynb
pytorch_handbook/chapter11/_gitkeep
pytorch_handbook/chapter11/section11_1.ipynb
pytorch_handbook/chapter11/section11_3.ipynb
pytorch_handbook/chapter2/_gitkeep
pytorch_handbook/chapter2/section2_2.ipynb
pytorch_handbook/chapter2/section2_3.ipynb
pytorch_handbook/chapter2/section2_4.ipynb
pytorch_handbook/chapter3/_gitkeep
pytorch_handbook/chapter3/section3_1.ipynb
pytorch_handbook/chapter4/_gitkeep
pytorch_handbook/chapter4/section4_1.ipynb
pytorch_handbook/chapter4/section4_2.ipynb
pytorch_handbook/chapter4/section4_3.ipynb
pytorch_handbook/chapter5/_gitkeep
pytorch_handbook/chapter5/section5_1.ipynb
pytorch_handbook/chapter5/section5_2.ipynb
pytorch_handbook/chapter5/section5_4.ipynb
pytorch_handbook/chapter5/section5_5.ipynb
pytorch_handbook/chapter6/.ipynb_checkpoints/net-checkpoint.py
pytorch_handbook/chapter6/.ipynb_checkpoints/section6_3-checkpoint.ipynb
pytorch_handbook/chapter6/.ipynb_checkpoints/section6_4-checkpoint.ipynb
pytorch_handbook/chapter6/__pycache__/net.cpython-36.pyc
pytorch_handbook/chapter6/_gitkeep
pytorch_handbook/chapter6/dataset/stl10_root/stl10_binary.tar.gz
pytorch_handbook/chapter6/dataset/stl10_root/stl10_binary/class_names.txt
pytorch_handbook/chapter6/dataset/stl10_root/stl10_binary/fold_indices.txt
pytorch_handbook/chapter6/dataset/stl10_root/stl10_binary/test_X.bin
pytorch_handbook/chapter6/dataset/stl10_root/stl10_binary/test_y.bin
pytorch_handbook/chapter6/dataset/stl10_root/stl10_binary/train_X.bin
pytorch_handbook/chapter6/dataset/stl10_root/stl10_binary/train_y.bin
pytorch_handbook/chapter6/dataset/stl10_root/stl10_binary/unlabeled_X.bin
pytorch_handbook/chapter6/net.py
pytorch_handbook/chapter6/result_cgan/_gitkeep
pytorch_handbook/chapter6/result_lsgan/_gitkeep
pytorch_handbook/chapter6/result_lsgan/netD_epoch_100.pth
pytorch_handbook/chapter6/result_lsgan/netD_epoch_150.pth
pytorch_handbook/chapter6/result_lsgan/netD_epoch_200.pth
pytorch_handbook/chapter6/result_lsgan/netD_epoch_50.pth
pytorch_handbook/chapter6/result_lsgan/netG_epoch_100.pth
pytorch_handbook/chapter6/result_lsgan/netG_epoch_150.pth
pytorch_handbook/chapter6/result_lsgan/netG_epoch_200.pth
pytorch_handbook/chapter6/result_lsgan/netG_epoch_50.pth
pytorch_handbook/chapter6/section6_3.ipynb
pytorch_handbook/chapter6/section6_4.ipynb
pytorch_handbook/chapter6/train_cgan.py
pytorch_handbook/chapter6/train_lsgan.py
pytorch_handbook/chapter7/data/__init__.py
pytorch_handbook/chapter7/data/config.py
pytorch_handbook/chapter7/data/voc0712.py
pytorch_handbook/chapter7/demo/__init__.py
pytorch_handbook/chapter7/demo/sample.jpg
pytorch_handbook/chapter7/demo/sample2.jpg
pytorch_handbook/chapter7/demo/section7_1.ipynb
pytorch_handbook/chapter7/demo/section7_9.ipynb
pytorch_handbook/chapter7/layers/__init__.py
pytorch_handbook/chapter7/layers/box_utils.py
pytorch_handbook/chapter7/layers/functions/__init__.py
pytorch_handbook/chapter7/layers/functions/detection.py
pytorch_handbook/chapter7/layers/functions/prior_box.py
pytorch_handbook/chapter7/layers/modules/__init__.py
pytorch_handbook/chapter7/layers/modules/l2norm.py
pytorch_handbook/chapter7/layers/modules/multibox_loss.py
pytorch_handbook/chapter7/section7_4.ipynb
pytorch_handbook/chapter7/ssd.py
pytorch_handbook/chapter7/utils/__init__.py
pytorch_handbook/chapter7/utils/augmentations.py
pytorch_handbook/chapter7/weights/weightsのファイル取得先.txt
pytorch_handbook/chapter8/_gitkeep
pytorch_handbook/chapter8/section8_1.ipynb
pytorch_handbook/chapter8/section8_2.ipynb
pytorch_handbook/chapter8/section8_3.ipynb
pytorch_handbook/chapter8/section8_4.ipynb
pytorch_handbook/chapter9/_gitkeep
pytorch_handbook/chapter9/section9_1.ipynb
pytorch_handbook/chapter9/section9_10.ipynb
pytorch_handbook/chapter9/section9_11.ipynb
pytorch_handbook/chapter9/section9_12.ipynb
pytorch_handbook/chapter9/section9_2.ipynb
pytorch_handbook/chapter9/section9_3.ipynb
pytorch_handbook/chapter9/section9_4.ipynb
pytorch_handbook/chapter9/section9_5.ipynb
pytorch_handbook/chapter9/section9_6.ipynb
pytorch_handbook/chapter9/section9_7.ipynb
pytorch_handbook/chapter9/section9_8.ipynb
pytorch_handbook/chapter9/section9_9.ipynb
pytorch_handbook/LICENSE.md
pytorch_handbook/README.md
pytorch_handbook/_gitignore
pytorch_handbook/chapter6/__pycache__/net.cpython-37.pyc
pytorch_handbook/chapter4/.ipynb_checkpoints/section4_2-checkpoint.ipynb
Grad_thesis/Humanome mlcourse 4.ipynb
Grad_thesis/Humanome mlcourse 4.ipynb
Grad_thesis/Humanome mlcourse 4.ipynb
Grad_thesis/.ipynb_checkpoints/chipseq_prediction_cnn-checkpoint.py
Grad_thesis/.ipynb_checkpoints/LSGAN_ver2-checkpoint.ipynb
Grad_thesis/.ipynb_checkpoints/manipurate array plot-checkpoint.ipynb
Grad_thesis/.ipynb_checkpoints/seq_net-checkpoint.py
Grad_thesis/.ipynb_checkpoints/test-checkpoint
Grad_thesis/__pycache__/seq_save.cpython-36.pyc
Grad_thesis/modules/.ipynb_checkpoints/seq_save-checkpoint.py
Grad_thesis/modules/__pycache__/seq_save.cpython-36.pyc
Grad_thesis/.ipynb_checkpoints/matplotlib_test-checkpoint.ipynb
Grad_thesis/.ipynb_checkpoints/seq_modules-checkpoint.py
Grad_thesis/.ipynb_checkpoints/seq_net-checkpoint.py
Grad_thesis/.ipynb_checkpoints/vec2seq_test-checkpoint.ipynb
Grad_thesis/__pycache__/seq_module.cpython-36.pyc
Grad_thesis/__pycache__/seq_modules.cpython-36.pyc
Grad_thesis/data/sequences/.ipynb_checkpoints/SRX356455.05_peak_seq_100-checkpoint.txt
Grad_thesis/data/sequences/SRX356455.05_peak_seq_100.txt
Grad_thesis/modules/__pycache__/vec2seq_save.cpython-36.pyc
Grad_thesis/test
Grad_thesis/.ipynb_checkpoints/seq_net-checkpoint.py
Grad_thesis/data/sequences/SRX356455.05_peak_seq_100.txt
Grad_thesis/test
Grad_thesis/.ipynb_checkpoints/seq_net-checkpoint.py
Grad_thesis/data/sequences/SRX356455.05_peak_seq_100.txt
Grad_thesis/test
Grad_thesis/.ipynb_checkpoints/LSGAN_iter1-checkpoint.ipynb
Grad_thesis/.ipynb_checkpoints/LSGAN_iter2-checkpoint.ipynb
Grad_thesis/.ipynb_checkpoints/LSGAN_ver3-checkpoint.ipynb
Grad_thesis/.ipynb_checkpoints/seq_net-checkpoint.py
Grad_thesis/.ipynb_checkpoints/seq_net_ver2-checkpoint.py
Grad_thesis/.ipynb_checkpoints/txt2fasta_test-checkpoint.ipynb
Grad_thesis/__pycache__/seq_net_ver2.cpython-36.pyc
Grad_thesis/__pycache__/seq_net_ver3.cpython-36.pyc
Grad_thesis/data/sequences/.ipynb_checkpoints/SRX356455.05_peak_seq_128-checkpoint.txt
Grad_thesis/data/sequences/SRX356455.05_peak_seq_100.txt
Grad_thesis/matplotlib_test.ipynb
Grad_thesis/modules/seq_save.py
Grad_thesis/real_pos_seq
Grad_thesis/result/batch256/fasta/.ipynb_checkpoints/fake_fasta5-checkpoint
Grad_thesis/result/batch256/fasta/.ipynb_checkpoints/real_fasta-checkpoint
Grad_thesis/result/batch256/fasta/fake_fasta10
Grad_thesis/result/batch256/fasta/fake_fasta15
Grad_thesis/result/batch256/fasta/fake_fasta20
Grad_thesis/result/batch256/fasta/fake_fasta25
Grad_thesis/result/batch256/fasta/fake_fasta30
Grad_thesis/result/batch256/fasta/fake_fasta35
Grad_thesis/result/batch256/fasta/fake_fasta40
Grad_thesis/result/batch256/fasta/fake_fasta45
Grad_thesis/result/batch256/fasta/fake_fasta5
Grad_thesis/result/batch256/fasta/fake_fasta50
Grad_thesis/result/batch256/fasta/real_fasta
Grad_thesis/result/batch256/seq/fake_pos_seq_epoch10
Grad_thesis/result/batch256/seq/fake_pos_seq_epoch15
Grad_thesis/result/batch256/seq/fake_pos_seq_epoch20
Grad_thesis/result/batch256/seq/fake_pos_seq_epoch25
Grad_thesis/result/batch256/seq/fake_pos_seq_epoch30
Grad_thesis/result/batch256/seq/fake_pos_seq_epoch35
Grad_thesis/result/batch256/seq/fake_pos_seq_epoch40
Grad_thesis/result/batch256/seq/fake_pos_seq_epoch45
Grad_thesis/result/batch256/seq/fake_pos_seq_epoch5
Grad_thesis/result/batch256/seq/fake_pos_seq_epoch50
Grad_thesis/result/batch256/seq/real_pos_seq
Grad_thesis/result/batch32/fasta/.ipynb_checkpoints/fake_fasta10-checkpoint
Grad_thesis/result/batch32/fasta/.ipynb_checkpoints/fake_fasta15-checkpoint
Grad_thesis/result/batch32/fasta/.ipynb_checkpoints/fake_fasta20-checkpoint
Grad_thesis/result/batch32/fasta/.ipynb_checkpoints/fake_fasta25-checkpoint
Grad_thesis/result/batch32/fasta/.ipynb_checkpoints/fake_fasta30-checkpoint
Grad_thesis/result/batch32/fasta/.ipynb_checkpoints/fake_fasta35-checkpoint
Grad_thesis/result/batch32/fasta/.ipynb_checkpoints/fake_fasta40-checkpoint
Grad_thesis/result/batch32/fasta/.ipynb_checkpoints/fake_fasta45-checkpoint
Grad_thesis/result/batch32/fasta/.ipynb_checkpoints/fake_fasta5-checkpoint
Grad_thesis/result/batch32/fasta/.ipynb_checkpoints/fake_fasta50-checkpoint
Grad_thesis/result/batch32/fasta/.ipynb_checkpoints/real_fasta-checkpoint
Grad_thesis/result/batch32/fasta/fake_fasta10
Grad_thesis/result/batch32/fasta/fake_fasta15
Grad_thesis/result/batch32/fasta/fake_fasta20
Grad_thesis/result/batch32/fasta/fake_fasta25
Grad_thesis/result/batch32/fasta/fake_fasta30
Grad_thesis/result/batch32/fasta/fake_fasta35
Grad_thesis/result/batch32/fasta/fake_fasta40
Grad_thesis/result/batch32/fasta/fake_fasta45
Grad_thesis/result/batch32/fasta/fake_fasta5
Grad_thesis/result/batch32/fasta/fake_fasta50
Grad_thesis/result/batch32/fasta/real_fasta
Grad_thesis/result/batch32/seq/.ipynb_checkpoints/fake_pos_seq_epoch20-checkpoint
Grad_thesis/result/batch32/seq/.ipynb_checkpoints/fake_pos_seq_epoch50-checkpoint
Grad_thesis/result/batch32/seq/fake_pos_seq_epoch10
Grad_thesis/result/batch32/seq/fake_pos_seq_epoch15
Grad_thesis/result/batch32/seq/fake_pos_seq_epoch20
Grad_thesis/result/batch32/seq/fake_pos_seq_epoch25
Grad_thesis/result/batch32/seq/fake_pos_seq_epoch30
Grad_thesis/result/batch32/seq/fake_pos_seq_epoch35
Grad_thesis/result/batch32/seq/fake_pos_seq_epoch40
Grad_thesis/result/batch32/seq/fake_pos_seq_epoch45
Grad_thesis/result/batch32/seq/fake_pos_seq_epoch5
Grad_thesis/result/batch32/seq/fake_pos_seq_epoch50
Grad_thesis/result/batch32/seq/real_pos_seq
Grad_thesis/result/batch64/fasta/.ipynb_checkpoints/fake_fasta20-checkpoint
Grad_thesis/result/batch64/fasta/.ipynb_checkpoints/fake_fasta5-checkpoint
Grad_thesis/result/batch64/fasta/.ipynb_checkpoints/fake_fasta50-checkpoint
Grad_thesis/result/batch64/fasta/.ipynb_checkpoints/real_fasta-checkpoint
Grad_thesis/result/batch64/fasta/fake_fasta10
Grad_thesis/result/batch64/fasta/fake_fasta15
Grad_thesis/result/batch64/fasta/fake_fasta20
Grad_thesis/result/batch64/fasta/fake_fasta25
Grad_thesis/result/batch64/fasta/fake_fasta30
Grad_thesis/result/batch64/fasta/fake_fasta35
Grad_thesis/result/batch64/fasta/fake_fasta40
Grad_thesis/result/batch64/fasta/fake_fasta45
Grad_thesis/result/batch64/fasta/fake_fasta5
Grad_thesis/result/batch64/fasta/fake_fasta50
Grad_thesis/result/batch64/fasta/real_fasta
Grad_thesis/result/batch64/seq/fake_pos_seq_epoch10
Grad_thesis/result/batch64/seq/fake_pos_seq_epoch15
Grad_thesis/result/batch64/seq/fake_pos_seq_epoch20
Grad_thesis/result/batch64/seq/fake_pos_seq_epoch25
Grad_thesis/result/batch64/seq/fake_pos_seq_epoch30
Grad_thesis/result/batch64/seq/fake_pos_seq_epoch35
Grad_thesis/result/batch64/seq/fake_pos_seq_epoch40
Grad_thesis/result/batch64/seq/fake_pos_seq_epoch45
Grad_thesis/result/batch64/seq/fake_pos_seq_epoch5
Grad_thesis/result/batch64/seq/fake_pos_seq_epoch50
Grad_thesis/result/batch64/seq/real_pos_seq
Grad_thesis/seq_net_ver2.py
Grad_thesis/test
Grad_thesis/txt2fasta_test.ipynb
Grad_thesis/vec2seq_test.ipynb
.DS_Store
wine_quality/.ipynb_checkpoints/leave_multicol-checkpoint.ipynb
wine_quality/.ipynb_checkpoints/playground1-checkpoint.ipynb
wine_quality/.ipynb_checkpoints/playground2-checkpoint.ipynb
wine_quality/.ipynb_checkpoints/playground3-checkpoint.ipynb
wine_quality/__pycache__/processing_module.cpython-37.pyc
wine_quality/ml_modules/.ipynb_checkpoints/__init__-checkpoint.py
wine_quality/ml_modules/.ipynb_checkpoints/eda-checkpoint.py
wine_quality/ml_modules/.ipynb_checkpoints/output_resulsts-checkpoint.py
wine_quality/ml_modules/.ipynb_checkpoints/processing_module-checkpoint.py
wine_quality/ml_modules/__init__.py
wine_quality/ml_modules/__pycache__/__init__.cpython-37.pyc
wine_quality/ml_modules/__pycache__/eda.cpython-37.pyc
wine_quality/ml_modules/__pycache__/output_resulsts.cpython-37.pyc
wine_quality/ml_modules/__pycache__/processing_module.cpython-37.pyc
wine_quality/README.txt
wine_quality/voting_model.sav
wine_quality/wine_test.csv
wine_quality/wine_train.csv
wine_quality/y_train.csv
wine_quality/y_test.csv
wine_quality/X_train.csv
wine_quality/X_test.csv
wine_quality/voting_model.pickle
wine_quality/results.csv
wine_quality/ml_modules/__pycache__/processing_module.cpython-36.pyc
wine_quality/ml_modules/__pycache__/output_resulsts.cpython-36.pyc
wine_quality/ml_modules/__pycache__/eda.cpython-36.pyc
wine_quality/ml_modules/__pycache__/__init__.cpython-36.pyc
.DS_Store
.DS_Store
wine_quality/data/multico_results.csv
wine_quality/data/wine_test.csv
wine_quality/data/wine_train.csv
wine_quality/data/X_test.csv
wine_quality/data/X_train.csv
wine_quality/data/y_test.csv
wine_quality/data/y_train.csv
wine_quality/model/multico_voting_model.pickle
wine_quality/model/voting_model.pickle
